@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Rubik', sans-serif;
}

.loading-screen {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}
